[global_config]
  handle_size = 1
  title_hide_sizetext = True
  enabled_plugins = CustomCommandsMenu, InactivityWatch, TestPlugin, LaunchpadBugURLHandler, TerminalExporter, LaunchpadCodeURLHandler, APTURLHandler, LayoutManager, MavenPluginURLHandler, Logger
  title_receive_bg_color = "#a0524c"
  title_transmit_bg_color = "#5b7fa6"
  inactive_color_offset = 1.0
  title_inactive_bg_color = "#bedeee"
[keybindings]
[profiles]
  [[default]]
    use_system_font = False
    font = Source Code Pro Medium 14
    audible_bell = True
    background_image = None
    split_to_group = True
    foreground_color = "#839496"
    copy_on_selection = True
    background_color = "#002b36"
    scrollback_infinite = True
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
      size = 1200, 800
[plugins]
