[global_config]
  handle_size = 1
  title_hide_sizetext = True
  enabled_plugins = CustomCommandsMenu, InactivityWatch, TestPlugin, LaunchpadBugURLHandler, TerminalExporter, LaunchpadCodeURLHandler, APTURLHandler, LayoutManager, MavenPluginURLHandler, Logger
  title_receive_bg_color = "#a0524c"
  title_transmit_bg_color = "#5b7fa6"
  inactive_color_offset = 1.0
  title_inactive_bg_color = "#fdf6e3"
[keybindings]
[profiles]
  [[default]]
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#002b36:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
    font = Source Code Pro Medium 14
    background_image = None
    audible_bell = True
    use_system_font = False
    split_to_group = True
    foreground_color = "#657b83"
    copy_on_selection = True
    background_color = "#fdf6e3"
    scrollback_infinite = True
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
      size = 1200, 800
[plugins]
